.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.05556;
  letter-spacing: -0.01em;
  color: #323f47;
}

.title span {
  font-weight: 700;
}
.wpapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
