.form {
  padding-top: 32px;
  width: 300px;
}
.title {
  margin-bottom: 32px;
}

.field {
  composes: field from "/src/components/FieldAuth/FieldAuth.module.css";
  width: 100%;
}

.btn {
  composes: btn from "/src/components/FormAuth/FormAuth.module.css";
}

.group {
  display: block;
  margin-bottom: 32px;
}

.error {
  composes: error from "/src/components/FormAuth/FormAuth.module.css";
}

.message {
  padding-top: 32px;
  font-size: 24px;
}
