.waterCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 9px;
  min-width: 148px;
  padding: 18px 14px;
  border-radius: 15px;
  background-color: #fff;
  backdrop-filter: blur(33.599998474121094px);
}

.waterIcon {
  width: 44px;
  height: 45px;
  fill: #76c7c0;
}

.waterInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quantity {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #323f47;
  margin-bottom: 6px;
}

.time {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(47, 47, 47, 0.6);
}

.waterActions {
  width: 16px;
}

.editIcon {
  width: 16px;
  height: 16px;
  fill: #76c7c0;
}

.deleteIcon {
  width: 16px;
  height: 16px;
  fill: #76c7c0;
}

@media screen and (min-width: 768px) {
  .waterCard {
    min-width: 190px;
  }

  .quantity {
    font-size: 15px;
    line-height: 22.4px;
  }

  .time {
    line-height: 22.4px;
  }
}
