.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeIcon {
  align-self: flex-end;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.confirmButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cancelButton {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
