.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  /* padding: 40px 14px; */
  width: 316px;
}

@media only screen and (min-width: 768px) {
  .modalContent {
    /* padding: 40px; */
    width: 436px;
  }
}

.closeIcon {
  align-self: flex-end;
  cursor: pointer;
}

.textCont {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

@media only screen and (min-width: 768px) {
  .textCont {
    gap: 24px;
  }
  .title {
    font-size: 28px;
    line-height: 1.14286;
  }
  .text {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: space-between;
  margin-top: 28px;
}

.confirmButton {
  background: #9be1a0;
  border-radius: 30px;
  padding: 14px 129px;
  width: 304px;
  height: 46px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.confirmButton:hover,
.confirmButton:focus {
  background: #87d28d;
}

.cancelButton {
  background: #f0eff4;
  border-radius: 30px;
  padding: 14px 126px;
  width: 304px;
  height: 46px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(50, 63, 71, 0.3);
}

.cancelButton:hover,
.cancelButton:focus {
  color: #323f47;
}

@media only screen and (min-width: 768px) {
  .buttonContainer {
    flex-direction: row;
    gap: 10px;
    margin-top: 24px;
  }
  .confirmButton {
    padding: 18px 59px;
    width: 170px;
    height: 60px;

    font-size: 16px;
    line-height: 1.5;
  }
  .cancelButton {
    padding: 18px 59px;
    width: 176px;
    height: 60px;

    font-size: 16px;
    line-height: 1.5;
  }
}
