.wrapper {
  width: calc(100vw - 32px);
  min-width: 288px;
  max-width: 343px;
  max-height: "80vh";
  overflow-y: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.userPic {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.picWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.pic {
  border-radius: 50%;
  overflow: hidden;
  width: 75px;
  height: 75px;
}

.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.uploadWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.uploadWrapper:hover {
  opacity: 0.7;
}
.textRegular {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inputDesc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapperInputsForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.midContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.radioContainer {
  display: flex;
  gap: 20px;
}

.radioButton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #9be1a0;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio:checked {
  background-color: #9be1a0;
  box-shadow: inset 0 0 0 4px #ffffff;
}

.radioLabel {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.userInfoInputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userInfoInput {
  width: 100%;
  height: 46px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.01em;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.userInfoInputError {
  composes: userInfoInput;
  border-color: #ef5050;
}

.userInfoInput:hover:not(.userInfoInputError),
.userInfoInput:focus:not(.userInfoInputError) {
  border: 1px solid #87d28d;
  outline: none;
}

.formulaContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formula {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.textAccent {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #9be1a0;
}

.textarea {
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  padding: 16px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.01em;
  background-color: #ffffff;
  color: rgba(47, 47, 47, 0.6);
}

span.textAccent {
  font-weight: 400;
}

.note {
  display: flex;
  gap: 4px;
}

.saveButton {
  width: 116px;
  height: 46px;
  padding: 14px 40px 14px 40px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #9be1a0;
  color: #323f47;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  border: none;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.saveButton:hover,
.saveButton:focus {
  background: #87d28d;
}

.saveButton:disabled {
  background: #e6e6e6;
  color: #bcbcbc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.textWaterGoal {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #323f47;
}

.svgIcon {
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 648px;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .pic {
    width: 100px;
    height: 100px;
  }

  .textRegular {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  h3 {
    font-size: 18px;
    line-height: 1.33;
  }

  .userInfoInput {
    height: 56px;
    padding: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  .formulaContainer {
    flex-direction: row;
    gap: 28px;
  }

  .textAccent {
    font-size: 16px;
    line-height: 1.5;
  }

  .textarea {
    font-size: 16px;
    line-height: 1.5;
  }

  .amount {
    flex-direction: row;
  }

  .saveButton {
    width: 141px;
    height: 56px;
    padding: 16px 50px 16px 50px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  .svgIcon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 840px;
  }

  .form {
    gap: 40px;
  }

  .inputs {
    flex-direction: column;
  }
  .inputDesc {
    flex-direction: row;
    gap: 40px;
  }
  .userInfoInput,
  .textarea {
    width: 400px;
  }

  .down {
    margin-top: 82px;
  }
}

.userInfoInput:-webkit-autofill,
.userInfoInput:-webkit-autofill:hover,
.userInfoInput:-webkit-autofill:focus {
  -webkit-text-fill-color: #2f2f2f;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent;
}

.userParams {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  position: absolute;
  bottom: -8px;

  font-size: 12px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #ef5050;
}

@media screen and (min-width: 768px) {
  .error {
    bottom: -12px;
    font-size: 14px;
    right: 0;
  }
}
