.waterTracker {
  max-width: 343px;

  border-radius: 30px;
  background-color: var(--Accent, #9be1a0);

  background-image: url("/src/images/waterMainInfo/bottle_mobile.png");
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 262px 335px;
}

.waterTracker h2 {
  margin-left: 16px;
  margin-top: 24px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.18px;
  text-transform: uppercase;
}

.btnAddForm {
  width: 140px;
  height: 46px;
  padding: 14px 20px;

  margin-left: 187px;
  margin-top: 47px;
  margin-bottom: 32px;
}

@media (max-width: 374px) {
  .btnAddForm {
    margin-left: 135px;
  }
}

@media (min-width: 768px) {
  .waterTracker {
    max-width: 704px;

    background-image: url("/src/images/waterMainInfo/bottle_tablet.png");
    background-position: center 69px;
    background-size: 374px 477px;
  }

  .waterTracker h2 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.24px;
    margin-left: 33px;
    margin-top: 32px;
  }

  .btnAddForm {
    width: 178px;
    height: 60px;
    padding: 18px 30px;

    margin-left: 494px;
    margin-right: 32px;
    margin-top: 26px;
    margin-bottom: 64px;
  }
}

@media (min-width: 1440px) {
  .waterTracker {
    max-width: 672px;

    background-image: url("/src/images/waterMainInfo/bottle_desktop.png");
    background-position: center 92px;
    background-size: 472px 604px;
  }

  .btnAddForm {
    margin-left: 462px;
    margin-right: 32px;
    margin-top: 56px;
  }
}
