.wrapper_form {
  margin-top: 172px;
  margin-bottom: 192px;

  @media only screen and (min-width: 768px) {
    margin: 225px 102px 249px 102px;
  }

  @media only screen and (min-width: 1440px) {
    margin: 113px 86px 137px 86px;
  }
}
